/************
|  FULL HD  |
************/
header nav {
    background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

header .name {
    font-size: 2rem;
}

header .nav-item {
    margin-right: 10px;
}

header .nav-link {
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
}

.active {
    color: rgba(23, 63, 17, 1) !important;
    background-color: #fff !important;
    box-shadow: 0px 0px 0px 1px red inset;
}

header .nav-link:hover {
    color: rgba(23, 63, 17, 1);
    background-color: #fff;
}

.navbar-toggler {
    background-color: #fff !important;
}

/*******
|  HD  |
*******/
@media only screen and (min-width: 1360px) and (max-width: 1370px) {}


/***********
|  MOBILE  |
***********/
@media only screen and (max-width: 600px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .nav-link {
        padding-left: 10px !important;
    }
}

@media only screen and (orientation: landscape) and (max-width: 767px) {
    /* HEADER */
    .navbar-nav {
        margin-top: 10px;
    }

    .nav-link {
        padding-left: 10px !important;
    }
}

@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 915px) {
    /* HEADER */
    .navbar-nav {
        margin-top: 10px;
    }

    .nav-link {
        padding-left: 10px !important;
    }
}
