<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2 margin-mobile">
                <h5 class="p-1">Todos os direitos reservados</h5>
                <p class="email"><a href="mailto:alviverdes@techie.com"><i class="bi bi-envelope-at-fill"></i>
                    alviverdes&#64;techie.com
                </a></p>
            </div>
            <div class="col-md-2 socials">
                <h5 class="p-1">Siga nossas redes</h5>
                <p class="social">
                    <a href=""><i class="bi bi-twitter-x me-2">Twitter</i></a>
                    <span class="text-success">|</span>
                    <a href=""><i class="bi bi-instagram ms-2"> Instagram</i></a>
                </p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</footer>