/************
|  FULL HD  |
************/
footer {
    margin-top: 20vh;
    /* ## */
    height: 80px;
    width: 100%;
    background-image: url("../../assets/images/background.png");
    color: #fff;
    text-align: center;
}

footer .social {
    width: 100%;
    background-color: #fff;
    padding: 0 35px 2px 35px;
    font-weight: bold;
    border-radius: 4px;
}

footer .bi-twitter-x {
    font-size: 1rem;
}

footer .bi-instagram {
    font-size: 1rem;
    color: purple;
}

footer .email a {
    background-color: #fff;
    padding: 0 35px 5px 35px;
    color: rgba(23, 63, 17, 1);
    font-weight: bold;
    border-radius: 4px;
}

/*******
|  HD  |
*******/
@media only screen and (min-width: 1360px) and (max-width: 1370px) {
    footer .p-1 {
        margin-top: 8%;
    }
}

/***********
|  MOBILE  |
***********/
@media only screen and (max-width: 600px) {
    footer {
        height: 200px;
    }
    
    footer .social {
        width: 80%;
        margin-left: 10%;
    }
    
    footer .margin-mobile {
        margin-top: 2.5vh;
    }
}

@media only screen and (orientation: landscape) and (max-width: 767px) {
    footer {
        height: 165px;
    }

    footer .social {
        width: 50%;
        margin-left: 25%;
    }
}

@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 915px) {
    footer {
        height: 160px;
    }

    footer .margin-mobile {
        width: 200%;
    }

    footer .socials {
        width: 40%;
        margin-left: 30%;
    }
}