<app-header></app-header>

<main>
    <div class="container-fluid mt-4">
        <div class="row g-0">
            <div class="col-lg-2 col-md-12 col-sm-12 publi publi-one">
                PUBLICIDADE
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 border rounded-2" data-cue="slideInUp" data-delay="600" data-duration="1200">
                <div class="row g-0">
                    <div class="col-md-11 main-title">
                        <h1 class="ps-3" id="main-title">{{ new.title }}</h1>
                    </div>
                    <div class="col-md-1 counts-md">
                        <div class="row">
                            <div class="col-6 border-end text-center">
                                <span class="fw-bold text-success share-count">10</span>
                                <div class="divid-share"></div>
                                <i class="bi bi-share"></i>
                            </div>
                            <div class="col-6 text-center">
                                <span class="fw-bold text-success views-count">50</span>
                                <div class="divid-views"></div>
                                <i class="bi bi-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-img">
                    <div class="main-card-img">
                        <img id="img-main" [src]="new.image" class="card-img-top" alt="...">
                    </div>
                    <div class="text-center overlay">
                        <p class="new" id="main-new"></p>
                        <hr>
                        <p class="small"><i class="bi bi-person-video"></i> Por: <span>Fulano Silva de Tal</span></p>
                        <p class="small"><span>26/07/2024</span> - <span>14:32</span> <i class="bi bi-clock-history"></i></p>
                    </div>
                </div>
                <div class="col-sm-12 counts-sm">
                    <div class="row">
                        <div class="col-sm-12 text-center text-success">
                            <p class="for"><i class="bi bi-person-video"></i> Por: <span>Fulano Silva de Tal</span></p>
                            <p class="times"><span>26/07/2024</span> - <span>14:32</span> <i class="bi bi-clock-history"></i></p>
                            <p class="counts me-4">
                                <span><i class="bi bi-share"></i></span>
                                <span class="fw-bold text-success">10</span>
                                <span class="ms-2 vr"></span>
                                <span class="ms-2"><i class="bi bi-eye"></i></span>
                                <span class="fw-bold text-success">50</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 publi publi-two">
                PUBLICIDADE
            </div>
        </div>
    </div>
</main>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="mt-5 text-success"><i class="bi bi-patch-plus"></i> Veja também</h2>
                <hr>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-12"></div>
            <div class="col-md-4 col-sm-12">
                <div class="card border-success rounded-start-0 mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 md-landscape">
                            <img src="./src/assets/images/p2.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8 md-landscape">
                            <div class="card-body">
                                <h5 class="card-title">Murilo participa de treino e pode pintar como opção</h5>
                                <p class="card-text mb-4">
                                    Zagueiro participou normalmente do treina desta quinta-feira, mas segue como dúvida
                                </p>
                                <div class="position-absolute bottom-0 end-0 me-4">
                                    <small class="card-text text-body-secondary" id="journalist"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-success rounded-start-0 mb-3" data-cue="slideInLeft">
                    <div class="row g-0">
                        <div class="col-md-4 md-landscape">
                            <img src="./src/assets/images/p4.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8 md-landscape">
                            <div class="card-body card-mobile">
                                <h5 class="card-title">Abel realiza treino tático na acadêmia de futebol</h5>
                                <p class="card-text">
                                    Treinador promoveu treinamentos com jogadas ensaiadas e finalizações
                                </p>
                                <div class="position-absolute bottom-0 end-0 me-4">
                                    <p class="card-text">
                                        <small class="text-body-secondary">
                                            Por: <span class="me-2">Fulano da Silva de Tal</span>
                                            <span>26/07/2024</span> - <span>10:00</span> <i class="bi bi-clock-history"></i>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="outros-destaques text-center">
                    <h2 class="text-success mt-5">
                        <i class="bi bi-view-list"></i> Outros Destaques
                    </h2>
                    <hr>
                </div>
                <div class="card border-success rounded-start-0 mb-3" data-cue="slideInLeft">
                    <div class="row g-0">
                        <div class="col-md-4 md-landscape img-invisible">
                            <img src="./src/assets/images/p6.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8 md-landscape">
                            <div class="card-body card-mobile">
                                <h5 class="card-title">Elenco reforça poder mental da equipe em preparação de jogo decisivo</h5>
                                <p class="card-text">
                                    Jogadores reafirmam o mental de toda a equipe em jogos decisivos
                                </p>
                                <div class="position-absolute bottom-0 end-0 me-4">
                                    <p class="card-text">
                                        <small class="text-body-secondary">
                                            Por: <span class="me-2">Fulano da Silva de Tal</span>
                                            <span>25/07/2024</span> - <span>15:22</span> <i class="bi bi-clock-history"></i>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card border border-success rounded-start-0 mb-3" data-cue="slideInRight">
                    <div class="row g-0">
                        <div class="col-md-4 md-landscape img-invisible">
                            <img src="./src/assets/images/p3.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8 md-landscape">
                            <div class="card-body">
                                <h5 class="card-title">Retorno e trabalho intenso, acompanhe como foi o treino</h5>
                                <p class="card-text mb-4">
                                    Time retornou aos treinamentos após viajem a Fortaleza, confira os detalhes
                                </p>
                                <div class="position-absolute bottom-0 end-0 me-4">
                                    <p class="card-text">
                                        <small class="text-body-secondary">
                                            Por: <span class="me-2">Fulano da Silva de Tal</span>
                                            <span>26/07/2024</span> - <span>12:37</span> <i class="bi bi-clock-history"></i>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border border-success rounded-start-0 mb-3" data-cue="slideInRight">
                    <div class="row g-0">
                        <div class="col-md-4 md-landscape img-invisible">
                            <img src="./src/assets/images/p5.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8 md-landscape">
                            <div class="card-body card-mobile">
                                <h5 class="card-title">Crias da academia renovam contrato e miram titularidade na equipe de cima</h5>
                                <p class="card-text">
                                    Atacante Luighi e o zagueiro Michel assinam renovação de contrato
                                </p>
                                <div class="position-absolute bottom-0 end-0 me-4">
                                    <p class="card-text">
                                        <small class="text-body-secondary">
                                            Por: <span class="me-2">Fulano da Silva de Tal</span>
                                            <span>26/07/2024</span> - <span>09:15</span> <i class="bi bi-clock-history"></i>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border border-success rounded-start-0 mb-3" data-cue="slideInRight">
                    <div class="row g-0">
                        <div class="col-md-4 md-landscape img-invisible">
                            <img src="./src/assets/images/p7.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8 md-landscape">
                            <div class="card-body card-mobile">
                                <h5 class="card-title">Reapresentação e regenerativo, acompanhe como foi o dia na acadêmia</h5>
                                <p class="card-text">
                                    Elenco se reapresenta e jogadores que atuaram na última partida fazem treino regenerativo
                                </p>
                                <div class="position-absolute bottom-0 end-0 me-4">
                                    <p class="card-text">
                                        <small class="text-body-secondary">
                                            Por: <span class="me-2">Fulano da Silva de Tal</span>
                                            <span>25/07/2024</span> - <span>10:37</span> <i class="bi bi-clock-history"></i>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12"></div>
        </div>
    </div>
</section>

<app-footer></app-footer>