/************
|  FULL HD  |
************/

/* ===== BAR ===== */
::-webkit-scrollbar {
    width: 8px;
    background: #fff;
}

::-webkit-scrollbar-track {
    background-color: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(38, 97, 33, 1) 35%, rgba(23, 63, 17, 1) 100%);
}

/* ::-webkit-scrollbar-button {
    background: rgba(212, 70, 0, 0.7);
} */

/* ===== MAIN ===== */
main h1 {
    margin-top: auto;
}

main h1 {
    cursor: pointer;
}

main img {
    width: 100%;
}

.main-card-img {
    height: auto;
    overflow: hidden;
}

.main-card-img img {
    transition: transform .3s ease-in;
    cursor: context-menu;
}

.main-card-img:hover img {
    transform: scale(1.1);
}

.main-title {
    background: linear-gradient(90deg, rgba(72, 171, 61, 1) 0%, rgba(197, 51, 51, 1) 80%, rgba(255, 0, 0, 1) 100%);
    color: #fff;
}

.share-count {
    margin-left: 25%;
}

.views-count {
    margin-right: 25%;
}

.divid-share {
    border-bottom: solid 1px #dbdbdb;
    margin-left: 25%;
    padding-bottom: 5%;
}

.divid-views {
    border-bottom: solid 1px #dbdbdb;
    margin-right: 25%;
    padding-bottom: 5%;
}

main h1 .bi {
    font-size: 1.5rem;
}

main .bi {
    font-size: 15px;
}

main .bi-share {
    margin-left: 10%;
}

main .bi-eye {
    margin-right: 20%;
}

.overlay {
    position: relative;
    margin-top: -23.1vh;
    /* background: rgba(212, 70, 0, 0.7); */
    background: rgb(72, 171, 61);
    background: linear-gradient(180deg, rgb(222, 228, 222), rgb(190, 223, 192), rgb(139, 196, 132) 0%, rgb(82, 158, 75) 35%, rgba(23, 63, 17, 1) 100%);
    transition: .5s ease;
    opacity: 0;
    color: #fff;
    font-size: 20px;
    padding: 13px;
}

.main-img:hover .overlay {
    opacity: 0.8;
}

.main-img:hover img {
    filter: contrast(115%);
}

.overlay i {
    font-size: 20px;
}

.overlay .new {
    color: rgba(23, 63, 17, 1);
    font-weight: 700;
}

.publi {
    height: 10vh;
    background-color: #DAF7A6;
}

.counts-sm {
    display: none;
}

/* ===== SECTION ===== */
section img {
    min-height: 20vh;
    max-height: 20vh;
    width: 100%;
    object-fit: cover;
}

section .card:hover {
    background-color: rgba(23, 63, 17, 1);
    color: #fff !important;
    cursor: pointer;
    border: none;
}

section .card:hover img {
    filter: contrast(115%) sepia(100%);
    transform: scale(0.99);
}

section .card:hover .text-body-secondary {
    color: #fff !important;
}

section h2:nth-child(1) {
    margin-bottom: 2vh;
}

section .outros-destaques {
    display: none;
}

/*******
|  HD  |
*******/
@media only screen and (min-width: 1360px) and (max-width: 1370px) {
    html {
        font-size: 10px;
    }

    /* MAIN */
    .overlay {
        margin-top: -32.5vh;
        padding: 2px;
    }
}

/***********
|  MOBILE  |
***********/
@media only screen and (max-width: 600px) {
    /* MAIN */
    h1:hover {
        animation: none;
    }

    .publi {
        background-color: yellow;
    }

    .publi-one {
        margin-bottom: 20px;
    }

    .publi-two {
        margin-top: 20px !important;
    }

    .overlay {
        display: none;
    }

    .counts-md {
        display: none;
    }

    .counts-sm {
        display: inline;
    }

    .for {
        margin-top: 1vh;
    }

    .times,
    .counts {
        margin-top: -1vh;
    }

    .bi-share {
        margin-left: 0;
    }

    .bi-eye {
        font-size: 19px !important;
        margin-right: 0 !important;
    }

    /* SECTION */
    section .outros-destaques {
        display: inline;
    }

    section h5 {
        color: rgb(76 126 69) !important;
    }

    section .card-mobile {
        min-height: 140px;
    }

    .img-invisible {
        display: none;
    }

    .position-absolute {
        display: none;
    }
}

@media only screen and (orientation: landscape) and (max-width: 767px) {
    /* MAIN */
    .publi {
        background-color: rgb(119, 0, 255);
        height: 40vh;
        margin-bottom: 7vh;
    }

    .publi-two {
        margin-top: 7vh !important;
    }

    .overlay {
        display: none;
    }

    .counts-md {
        display: none;
    }

    .counts-sm {
        display: inline-block;
        margin-top: 7vh;
    }

    .bi-eye {
        margin-right: 0 !important;
    }

    .bi-share {
        margin-left: 6vh !important;
    }

    /* SECTION */
    section img {
        max-height: 100vh !important;
    }

    section .card-text {
        margin-top: 5vh;
    }

    section .text-body-secondary {
        display: none;
    }
}

@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 915px) {
    /* MAIN */
    .publi {
        height: 40vh;
        margin-bottom: 7vh;
    }

    .publi-two {
        margin-top: 7vh !important;
    }

    .overlay {
        display: none;
    }

    .counts-sm {
        display: inline-block;
        margin-top: 7vh;
    }

    .counts {
        display: none;
    }

    /* SECTION */
    section .card {
        height: 70vh;
    }

    section .md-landscape {
        width: 100% !important;
    }

    section h5 {
        color: rgb(76 126 69) !important;
    }

    section .text-body-secondary {
        display: none;
    }
}